* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: row; /* par défaut */
    gap: 2.5rem;
    background-color: #008cba;
    width: max-content;
    margin: 2rem auto;
    padding: 1rem 3rem; /* top-bottom left-right */
    /* box-shadow: 0 2px 0px hsl(0 50% 0% / .5); */
    border-bottom: 2px solid rgb(127, 127, 127);
}

.menu-link {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

@media screen and (max-width: 700px) {
    .menu {
        flex-direction: column;
        background-color: #FFA07A;
    }
}