/*
    color1: #97afb9
    colorbtn1: #314953
    colorbtn2: #95b1ba
    colorborder: #d2d7d5
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-bottom: 1px solid #d2d7d5;
}

.phones-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
}

.produit {
    border: 1px solid #d2d7d5;
    border-radius: 8px;
    overflow: hidden;
}

.produit-nom {
    width: 100%;
    background: #97afb9;
    text-align: center;
    padding: 1rem 0;
    font-weight: 500;
    font-size: 1.5rem;
}

.produit-btn {
    padding: .75rem 0;
    margin: 0 auto;
    width: max-content;
}

button:nth-of-type(1), button:nth-of-type(2) {
    color: white;
    padding: .35rem 1rem;
    border: 2px solid #d2d7d5;
    cursor: pointer;
    border-radius: 8px;
}

button:nth-of-type(1) {
    background: #314953;
}

button:nth-of-type(2) {
    background: #95b1ba;
}